.contact{
    margin-top: 5%;
}



.small {
    font-size: 20px;
    color: grey;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: italic;
    text-shadow: 1px 1px #ffd700;
    ;
}
.Heading {
    color: #ffd700;
    transform-style: preserve-3d;
    animation: slideIn 1.0s forwards;
    transform: translateX(-150%);
    animation-delay: 0.2s;
    height: max-content;
    width: 100%;
    font-size: 53px;
    margin-left: 5%;
    transition: all 0.3s ease-out;
    font-weight: 900;
    font-style: normal;
    margin-top:0
}

.Contacts {
    font-size: 15px;
    width: 7rem;
    float: right;
    transform-style: preserve-3d;
animation: slideIn 1.0s forwards;
transform: translateY(890%);
animation-delay: 0.2s;
    font-family: 'Courier New', Courier, monospace;
    height: 3.0rem;
    border-radius: 0.2rem;
    color: #ffd700;
    background-color: transparent;
     border: 0.3px solid yellow;
    transition: all 0.4s ease-in-out;

    &:hover {
        background-color: #ffd700;
         color: black;
         transition: all 0.4s ease-in-out;
     }
}

.form-control {
    margin: 2%;
    background: #115173;
    transform-style: preserve-3d;
    animation: slide 1.0s forwards;
    opacity: 0; /* Initially hide the form */
  }

  @keyframes slide {
    from {
      transform: translateY(1290%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

.form-control::placeholder{
    color:#ffd700 ;
}


.Heading_{
    color: #ffd700;
    transform-style: preserve-3d;
    // animation: slideIn 1.0s forwards;
    // transform: translateX(-150%);
    // animation-delay: 0.2s;
    height: max-content;
    width: 100%;
    font-size: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
    font-weight: 900;
    font-style: italic;
    margin-top:0


}


.contacts {
    // border: 2px solid #000; /* Set border properties */
    padding: 20px; /* Add padding for spacing */
    margin: 20px; /* Add margin for spacing */
    opacity: 0; /* Initially hide the contacts */
    transform-style: preserve-3d;
    animation: slideIn 1s forwards;
    transform: translateX(170%); 
    animation-delay: 0.2s;
    line-height: 10%;
    opacity: 0; /* Initially hide the contacts */
    animation: typing-animation 1.5s forwards; /* Apply the typing animation */
    transition: box-shadow 0.3s ease-in-out; /* Add transition for smooth effect */
    border-radius: 10px; /* Add border radius for rounded corners */
}

.contacts:hover {
    box-shadow: 0 0 20px rgba(151, 160, 22, 0.5); /* Add glow effect when hovered */
}

@keyframes typing-animation {
    0% {
        opacity: 0;
        transform: translateY(180%); /* Start slightly below its position */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* End at its original position */
    }
}

.Heading_{
    font-weight: 200 !important;
    font-size: 40px;
    }

    @media (max-width:500px) {
        .Heading_{
            font-size: 20px;
        }
    }

    @media (min-width:500px) {
        .Heading_{
            font-size: 25px;
        }
    }
