

.nav-link{
    color: #ffd700 !important;
    margin-right: 10%;
    
    
}

.navbar-nav{
    margin-left: auto;
}

.nav-link:hover{
    color:azure !important;
}

.nav-link,.nav-linkk:hover{
    svg{
        color:#ffd700 !important;
    }
    
}


.toggler{
    margin-left: auto;
}


