

.nav-link{
    color: #ffd700 !important;
    margin-right: 10% !important;
}

.navbar-nav{
    margin-left: auto;
}

.nav-link:hover{
    color:azure !important;
}

.nav-link,.nav-linkk:hover{
    svg{
        color:#ffd700 !important;
    }
    
}

.nav-item::after{
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color:#bababa ;
    transform: scale(0);
    transform-origin:center;
    transition: transform 0.3s ease;
}
.nav-link:hover::after{
    transform: scaleX(1.0);
}

.toggler{
    margin-left: auto;
}


